<navigation></navigation>

<div class="container">
	
	<div class="column" ng-repeat="product in cartProducts">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img ng-src="{{product.item[0].img}}">
				<div class="caption">
        			<h3>{{product.item[0].title}}</h3>
        			<h4>{{product.item[0].description}}</h4>
        			<h5>${{product.item[0].price}}</h5>
      			</div>				
			</div>
		</div>
	</div>

	<div class="column">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<div class="caption">
					<h3>Total ${{total}}</h3>
				</div>
			</div>
		</div>
	</div>

</div>