<navigation></navigation>

<div class="container">

	<div class="column" ng-repeat="product in products">
  		<div class="col-sm-6 col-md-3">
    		<div class="thumbnail">
      			<a ui-sref="product({gender: product.gender, category: product.category, id: product._id})"><img ng-src="{{product.img}}"></a>
      			<div class="caption">
        			<h3>{{product.title}}</h3>
        			<h5>${{product.price}}</h5>
        			<p><a class="btn btn-default" role="button" ng-click="postToCart(JSON.stringify(product._id))" ui-sref="cart">Add to Cart</a></p>
        			<p><a class="btn btn-default" role="button" ui-sref="product({gender: product.gender, category: product.category, id: product._id})">Details</a></p>
      			</div>
    		</div>
  		</div>
	</div>

</div>