<navigation></navigation>

<div class="container">

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img ng-src="./img/{{gender}}ShirtsImg.jpg" alt="Shirts">
      			<div class="caption">
        			<h3>{{genderCapitalized}} Shirts</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="category({gender: gender, category: 'shirts'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img ng-src="./img/{{gender}}PantsImg.jpg" alt="Pants">
      			<div class="caption">
        			<h3>{{genderCapitalized}} Pants</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="category({gender: gender, category: 'pants'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img ng-src="./img/{{gender}}ShortsImg.jpg" alt="Shorts">
      			<div class="caption">
        			<h3>{{genderCapitalized}} Shorts</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="category({gender: gender, category: 'shorts'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img ng-src="./img/{{gender}}ShoesImg.jpg" alt="Shoes">
      			<div class="caption">
        			<h3>{{genderCapitalized}} Shoes</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="category({gender: gender, category: 'shoes'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>		

</div>