<navigation></navigation>

<div class="container">

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="./img/mensImg.jpg" alt="Mens Clothing">
      			<div class="caption">
        			<h3>Mens Clothing</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="gender({gender: 'mens'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="./img/womensImg.jpg" alt="Womens Clothing">
      			<div class="caption">
        			<h3>Womens Clothing</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="gender({gender: 'womens'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="./img/boysImg.jpg" alt="Boys Clothing">
      			<div class="caption">
        			<h3>Boys Clothing</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="gender({gender: 'boys'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="./img/girlsImg.jpg" alt="Girls Clothing">
      			<div class="caption">
        			<h3>Girls Clothing</h3>
        			<p><a class="btn btn-default" role="button" ui-sref="gender({gender: 'girls'})">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>		

</div>