<navigation></navigation>

<div class="container">

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="http://www.gap.com/Asset_Archive/GPWeb/content/0011/966/623/assets/71216_HP_US_DP_MOB_MEN.jpg" alt="Mens Clothing">
      			<div class="caption">
        			<h3>Mens Clothing</h3>
        			<p><a class="btn btn-default" role="button">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="http://www.gap.com/Asset_Archive/GPWeb/content/0011/966/623/assets/71216_HP_US_DP_MOB_WOW.jpg" alt="Womens Clothing">
      			<div class="caption">
        			<h3>Womens Clothing</h3>
        			<p><a class="btn btn-default" role="button">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="http://www.gap.com/Asset_Archive/GPWeb/content/0011/966/623/assets/71216_HP_US_DP_MOB_BOYS.jpg" alt="Boys Clothing">
      			<div class="caption">
        			<h3>Boys Clothing</h3>
        			<p><a class="btn btn-default" role="button">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="column">
  		<div class="col-sm-6 col-md-6">
    		<div class="thumbnail">
      			<img src="http://www.gap.com/Asset_Archive/GPWeb/content/0011/966/623/assets/71216_HP_US_DP_MOB_GIRLS.jpg" alt="Girls Clothing">
      			<div class="caption">
        			<h3>Girls Clothing</h3>
        			<p><a class="btn btn-default" role="button">Shop Now</a></p>
      			</div>
    		</div>
  		</div>
	</div>		

</div>