<navigation></navigation>

<div class="container">
	
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img ng-src="{{product.img}}">
				<div class="caption">
        			<h3>{{product.title}}</h3>
        			<h4>{{product.description}}</h4>
        			<h5>${{product.price}}</h5>
        			<p><a class="btn btn-default" role="button">Add to Cart</a></p>
        			<p><a class="btn btn-default" role="button" ui-sref="add-product({action: 'update', id: id})" ng-if="isAdmin()">Update Product</a></p>
        			<p><a class="btn btn-default" role="button" ng-click="removeProduct()" ui-sref="home" ng-if="isAdmin()">Remove Product</a></p>
      			</div>				
			</div>
		</div>
	</div>

</div>